# Build artifacts
build/
dist/
*.spec
__pycache__/
*.pyc
output/

# User config
.oneconvert_config.json

# IDE
.vs/
.vscode/
.settings/
Debug/
Release/

# Executables
*.exe
*.swf
*.air
*.ipa
*.apk

# Project
*.sln
*.vcxproj
*.filters
*.user
*.suo
*.db
*.ipch
*.one
*.xml
